{% extends 'layouts/index.html' %}

{% block content %}
    <div class="form">
        <form action="/products/create/" method="post">
            {% csrf_token %}
            {{ form.as_p }}
{#            <p>Name {{ name_error }}</p>#}
{#            <input type="text" name="name">#}
{#            <p>Description {{ discription_errors }}</p>#}
{#            <textarea name="discription" id="" cols="30" rows="10"></textarea>#}
{#            <p>Price</p>#}
{#            <input type="number" name="price">#}
{##}
{#            <p>Rate</p>#}
{#            <input type="number" name="rate">#}


            <input type="submit" class="btn-primary">
        </form>
    </div>
{% endblock %}