{% extends 'layouts/index.html' %}


{% block content %}
    <style type="text/css">
        .product {
            width: 80%;
            margin-left: 10%;
        }

        .product > h5 {
            margin-top: 20px;
        }

        .dates {
            display: flex;
            justify-content: space-between;
        }

        .review {
            margin-top: 30px;
        }

        .review_block {
            height: max-content;
            padding: 10px;
            border: 1px solid #242b2e;
            color: white;
            background: black;
        }

        .product {
            width: 80%;
        }
    </style>
    <div class="product">
        {% if product.image %}
            <img src="/media/{{ product.image }}" alt="image not found">
        {% else %}
            <img src="/media/Без%20названия%20(4).jpg" alt="">
        {% endif %}
        <div style="display: flex; justify-content: space-between">
            <h1>{{ product.title }}</h1>
            <h1>{{ product.user.username }}</h1>
        </div>
        <h5>{{ product.description }}</h5>
        <div class="Category">
            {% for category in categories %}
                <div class="category">
                    <h6>{{ category.title }}</h6>
                </div>
            {% endfor %}
        </div>
        <div class="dates">
            <h5>{{ product.created_date }}</h5>
            <h5>{{ product.modifed_date }}</h5>
        </div>
        {% if product.review_table %}
            <form action="/products/{{ product.id }}/" method="post">
                {% csrf_token %}
                {% if user %}
                    {{ form }}
                    <input type="submit" class="btn">
                {% endif %}
            </form>
            <div class="review">
                {% for reviews in review %}
                    <div class="review_block">
                        <h3 size="">{{ reviews.user.username }}</h3>
                        <h6>{{ reviews.text }}</h6>
                        <p>{{ reviews.created_date }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

    </div>
{% endblock %}