{% extends 'layouts/index.html' %}
{% block content %}
    <style type="text/css">

        .products {
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin-left: 10%;
            flex-wrap: wrap;
            padding: 9px;;
        }
        .card img {
            width: 100%;
        }
        .card {
            margin: 10px;
        }
    </style>
    <div class="search">
        <form action="/products/" method="get">
            <input type="text" name="Search">
            <input type="submit" value="search">
        </form>
    </div>
    <div class="products">
        {% for product in products %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    {% if product.image %}
                        <img src="/media/{{ product.image }}/" alt="image not found">
                    {% else %}
                        <img src="/media/18BR_Jinx_Arcane_LoadingScreen_1920x1080_2.jpg" alt="">
                    {% endif %}
                    <h5 class="card-name">{{ product.name }}</h5>
                    <h6 class="card-subtitle">{{ product.created_date }}</h6>
                    <a href="/products/{{ product.id }}/" class="card-link">More</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="pages">
        {% for page in max_page %}
            <a href="/products/?page={{ page }}"><button>{{ page }}</button></a>
        {% endfor %}
    </div>
{% endblock %}